/* CSS Document */
#nav{position:absolute;left:0;right:0; bottom:0; background-color:#fff;z-index:100; height:60px;  text-align:center; }
#menu-icon { display: none; /* hide menu icon initially */}
ul.menu { padding:0px; margin:0 auto; width:100% auto; display:block; float:none;  text-align:center;  }
ul.menu li  { list-style:none; list-style-type:none; display:inline-block;  padding:0px; margin:0px; vertical-align:middle;  font-size:16px;   text-align:center;  text-transform:uppercase; letter-spacing:0.1em; 
                     -webkit-transition: all 0.5s ease 0s; -moz-transition: all 0.5s ease 0s; -ms-transition: all 0.5s ease 0s; -o-transition: all 0.5s ease 0s; transition: all 0.5s ease 0s;}
ul.menu li a		{text-decoration:none; display:table-cell; color:#333;  height:56px; vertical-align:middle;  padding:0em; border-bottom: 4px solid #fff; -webkit-transition: all 0.5s ease 0s; -moz-transition: all 0.5s ease 0s; -ms-transition: all 0.5s ease 0s; -o-transition: all 0.5s ease 0s; transition: all 0.5s ease 0s;}
ul.menu li a:hover	{color:#ef4023; border-bottom: 4px solid #ef4023;}

ul.menu .active, ul.menu .active:hover	{color:#ef4023; border-bottom: 4px solid #ef4023; }

.nav_dot	{padding:0em 0.5em 0em 0.5em; vertical-align:middle; display:block; }


@media only screen and ( min-width: 980px) and ( max-width: 1024px) {
	.nav_dot	{padding:0em 0.6em 0em 0.6em; vertical-align:middle; display:block; }
	.nav_dot	{padding:0em 0.5em 0em 0.5em; }
}


@media only screen and ( min-width: 240px) and ( max-width: 768px) {
.wrap { width:95%;    }
#logo { float:left; width:20%;  z-index:9999999; position:relative}
#nav { 	float:right; width:100%; background-color:#fff ; z-index:99; position:relative }

/*---------------Project Menu Styling---------------*/
/*-----------------------------------------------*/

#menu  {    padding:0px 0px 0px 0px; top:10px; position:relative; background:#fff;  }

/* menu icon */
#menu-icon          {line-height:40px; width:40px; display:inline; float:right; height:40px;  -webkit-transition:all 300ms linear; -moz-transition:all 300ms linear; -o-transition:all 300ms linear; -ms-transition:all 300ms linear;}
#menu-icon          {background:#fff url(icon-menu.png) no-repeat right center; padding:0px;   cursor:pointer; display:inline;  text-transform:uppercase;  color:#fff;  } 
#menu-icon:hover	 {color:#fff;  background:#fff url(icon-menu.png) no-repeat right center;}
#menu-icon.active	 {color:#fff;  background:#fff url(icon-menu-close.png) no-repeat right center;}
#menu-icon.deactive	 {color:#fff;  background:#fff url(icon-menu.png) no-repeat right center;}

#menu ul.menu   {list-style:none; background:#fff; list-style-image:none; padding:10px 0px 0px 0px; margin:0px; position:relative; display:none; width:100%; float:left;  }
ul.menu { padding:0px; margin:0px; width:100%; display:block; float:left;   }
ul.menu li  { list-style:none; list-style-type:none; display:block; height:auto; float:none; width:100%; padding:0px; margin:0px; vertical-align:top;  font-size:14px;   text-align:center; 
                     -webkit-transition: all 0.5s ease 0s; -moz-transition: all 0.5s ease 0s; -ms-transition: all 0.5s ease 0s; -o-transition: all 0.5s ease 0s; transition: all 0.5s ease 0s;}
ul.menu li a  { text-decoration:none; display:block; color:#333; height:auto; padding:0.5em 0em; border-top: 1px solid #ccc;
                       -webkit-transition: all 0.5s ease 0s; -moz-transition: all 0.5s ease 0s; -ms-transition: all 0.5s ease 0s; -o-transition: all 0.5s ease 0s; transition: all 0.5s ease 0s;}
 

.nav_dot {   display:none; }
}



/* #nonExTalent ul li:first-child, #nonExTalent ul li:nth-child(6), #nonExTalent ul li:nth-child(2), #nonExTalent ul li:nth-child(10), #nonExTalent ul li:nth-child(12), #nonExTalent ul li:nth-child(13), #nonExTalent ul li:nth-child(6){
display:none;
}
 #nonExTalent ul li:nth-child(5) h2{
 visibility: hidden;
margin-top: -37px;
}
 #nonExTalent ul li:nth-child(5) h2:after{
     content: "Shaun Pollock";
    visibility: visible;
    display: block;
} */
#Talent ul li:nth-child(5), #Talent ul li:nth-child(10),#Talent ul li:nth-child(11), #Talent ul li:nth-child(19), #Talent ul li:nth-child(16){
/*display:none;*/
}